<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置全局属性 -->
    <settings>
        <!-- 全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存，默认值是true -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 设置超时时间，它决定驱动等待数据库响应的秒数 -->
        <setting name="defaultStatementTimeout" value="5"/>
        <!-- 使用列标签代替列名，默认:true -->
        <setting name="useColumnLabel" value="true" />
        <!-- 开启驼峰命名转换从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射，默认值是false -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值，默认值是false -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

</configuration>